<a href="https://www.kaggle.com/code/rudranilghosh/my-adult-income-analysis?scriptVersionId=144570957" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

Dataset Link - https://www.kaggle.com/datasets/wenruliu/adult-income-dataset

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
data=pd.read_csv('/kaggle/input/adult-income-dataset/adult.csv')

# Display top 10 rows of the dataset

In [ ]:
data.head(10)

# Find number of rows and columns

In [ ]:
data.shape

# Get a brief overview of the dataset

In [ ]:
data.info()

# Fetch random samples from the dataset (50%)

In [ ]:
data.sample(frac=0.50)

# Check null values in the dataset

In [ ]:
data.isnull().sum(axis=0)

In [ ]:
plt.plot(data.isnull(),color='red')

# Perform Data cleaning

Here in dataset workclass column has '?' as attribute replacing that with NaN

In [ ]:
data.isin(['?']).sum()

In [ ]:
data.replace('?',np.NaN,inplace =True)

In [ ]:
data.isin([np.NaN]).sum()

In [ ]:
data.isnull().sum()

# Drop all the missing values

In [ ]:
data.isnull().sum()

In [ ]:
data.dropna(how='any',inplace=True)

In [ ]:
data.shape

In [ ]:
48842-45222

#  Check for duplicate data and drop them

In [ ]:
# To check if there is any dupplicate data
data.duplicated().any()

In [ ]:
#to calculate duplicate datas
data.duplicated().sum()

In [ ]:
#dropping duplicate values in dataframe
data.drop_duplicates(inplace=True)

In [ ]:
#after dropping duplicates rechecking dupplicate values in the dataframe
data.duplicated().sum()

In [ ]:
#checking shape after dropping dulicates
data.shape

In [ ]:
45222-45175

# Get overall statistics of the DataFrame

In [ ]:
#only for columns containing numeric data
data.describe()

In [ ]:
#for all columns
data.describe(include='all')

# Univariate analysis

# Analysis of age column

In [ ]:
data['age'].describe()

In [ ]:
data.age.hist()

# Find total number of persons having age between 17 to 48 (inclusive) using between method

In [ ]:
r=data[(data['age']>=17) & (data['age']<=48)]
r.value_counts()

In [ ]:
data.age.between(17,48).sum()

# What is the distribution of workclass column?

In [ ]:
data.columns

In [ ]:
data.workclass.describe()

In [ ]:
plt.figure(figsize=(10,10))
data.workclass.hist()

# How many persons having bachelors or masters degree?

In [ ]:
data.columns

In [ ]:
data.head(2)

In [ ]:
len(data[data.education.isin(['Bachelors','Masters'])])

# Bivariate Analysis

In [ ]:
data.columns

In [ ]:
data.plot('income','age',kind='hist')
plt.xlabel('Age')
plt.ylabel('Salary')
plt.show()

# Replace salary values ['<=50k','>50k']With 0 and 1

In [ ]:
data.columns

In [ ]:
data.income

In [ ]:
data.income.unique()

In [ ]:
data.income.value_counts()

In [ ]:
data.income.replace({'<=50K':0,'>50K':1},inplace=True)

In [ ]:
data.income

In [ ]:
data.income.unique()

In [ ]:
data.income.plot(kind='hist')

# Which workclass getting the highest salary?

In [ ]:
data.groupby(by='workclass')['income'].mean().sort_values(ascending =False)

# Who has better chance to get salary >50k male or female?

In [ ]:
data.columns

In [ ]:
data.groupby('gender')['income'].mean().sort_values(ascending=False)

# Convert workclass columns datatype to category datatype

In [ ]:
data.groupby('workclass').size()

In [ ]:
data.workclass=data.workclass.astype('category')

In [ ]:
data.workclass.dtype